{{!< default}}
<div class="gh-page">
    <div class="gh-container">
        <div class="intro">
            <img src="assets/me.png" srcset="assets/me.png 2x" alt="Picture of me garnished with a rose"/>
            <p>Hey there. I’m Đorđe, a software designer from Serbia, <span class="dont-wrap">now living in Lisbon, Portugal.</span></p>
        </div>
        
        <div class="block">
            <h2>Latest Writing</h2>
            <ul>
            {{#foreach posts limit="5"}}
                {{> "list" page=../pagination.page }} {{!-- partials/list.hbs --}}
            {{/foreach}}
            </ul>
            <p><a href="#">see all</a></p>
            {{!-- <p>If you enjoyed these, you can <a href="{{@site.signup_url}}">subscribe</a> to future posts, grab the <a href="{{@site.url}}/rss/">RSS feed</a>, or check the entire <a href="#">archive</a>.</p> --}}
        </div>

        <div class="block">
            <h2>Other</h2>
            <ul>
                <li>I used to write <a href="https://nevinooptuzen.substack.com">TV recaps of a Yugoslavian cop TV show from the 90s</a>†</li>
                <li>I work for <a href="https://ghost.org"><span class="ghost-line">Ghost Foundation <img src="assets/boo.gif" alt="Boo"></span></a></li>
            </ul>
        </div>
    </div>
</div>
